.example-spacer {
    flex: 1 1 auto;
  }

span{
    padding: 10px;
}

  img{
    height: 50px;
    width: 50px;  
  }

  a{
    text-decoration: none;
    color: white;
  }
  .menu{
    background-color: var( --bkColor);
    border-bottom: 1px solid var(--color-black);
  }
 .menu a{
    color: var(--color-black);
  }