.example-spacer {
    flex: 1 1 auto;
    width: 100%;
}

span {
    padding: 5px 5px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}
.menu{
    background-color: var( --bkColor);
    border-bottom: 1px solid var(--color-black);
   
    
  }
 .menu a{
    color: var(--color-black);
    transition: 0.5s;
    border-radius: 10px;
    padding: 0.3rem;
  }
  .menu a:hover{
    box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.397);
    background-color: aquamarine;
  }
  .material-icons{
    border: 1px solid red;
    right: 2vw;
    top: -20%;
    position: absolute;
  }